<header>
  <h1>Edit Transaction</h1>
</header>

<form action="/users/<%= @user.id %>/transactions/<%= @transaction.id %>" method="post">

  <label for="transaction-date">Date: </label>
  <input type="date" name="transaction_date" value="<%= @transaction.transaction_date %>" required>

  <br>

  <label for="price">Amount: </label>
  <input type="number" name="pounds" min="0" value="<%= @transaction.pounds %>" required>
  <input type="number" name="pence" min="0" max= "99" value="<%= @transaction.pence %>" required>

  <br>

  <label for="merchant-select">Merchant: </label>
  <select name="merchant_id" required>
    <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>

  <br>

  <label for="category-select">Merchant: </label>
  <select name="category_id" required>
    <% for category in @categories %>
    <option value="<%= category.id %>"><%= category.name.capitalize %></option>
    <% end %>
  </select>

  <br>

  <label for="description">Description: </label>
  <textarea name="description" rows="4" cols="50" value="<%= @transaction.description %>"></textarea>

  <br>

  <input type="submit" value="Edit Transaction">

</form>
