<header>
  <h1>Edit Transaction</h1>
</header>

<form class="transaction-form shadow" action="/users/<%= @user.id %>/transactions/<%= @transaction.id %>" method="post">

  <label for="transaction-date">Date: </label>
  <input type="date" name="transaction_date" value="<%= @transaction.transaction_date %>" required>


  <label for="price">Amount: </label>
  <div class="price">
  <input type="number" name="pounds" min="0" value="<%= @transaction.value / 100 %>" class="pounds" required>
  <input type="number" name="pence" min="0" max= "99" value="<%= @transaction.value % 100 %>" class="pence" required>
</div>

  <label for="merchant-select">Merchant: </label>
  <select name="merchant_id" required>
    <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>

  <label for="category-select">Category: </label>
  <select name="category_id" required>
    <% for category in @categories %>
    <option value="<%= category.id %>"><%= category.name.capitalize %></option>
    <% end %>
  </select>

  <label for="description">Description: </label>
  <textarea name="description" rows="4" cols="50"><%= @transaction.description %></textarea>

<div class="transaction-submit flex-center-center">
  <input type="submit" class="transaction-from-submit"value="Edit Transaction">
</div>
</form>
