<header>
  <h1><i class="fas fa-list-alt header-tag">&nbsp;</i>All Transactions</h1>
</header>

<div class="table-container flex">
<table>
  <tr>
    <th>Date</th>
    <th>Merchant</th>
    <th>Category</th>
    <th>Description</th>
    <th>Amount</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><a href="transactions/<%= transaction.id %>"><%= transaction.pretty_date %></a></td>
    <td><a href="transactions/<%= transaction.id %>"><%= transaction.merchant.name %></a></td>
    <td><a href="transactions/<%= transaction.id %>">
      <%= transaction.category.name.capitalize %>
      <i class="fas fa-tag index-tag">&nbsp;</i></a></td>
    <td><a href="transactions/<%= transaction.id %>"><%= transaction.pretty_description %></a></td>
    <td class="amount"><a href="transactions/<%= transaction.id %>"><%= transaction.pretty_value %></a></td>
  </tr>
  <% end %>
  <tfoot>
    <td colspan="4" class="empty"></td>
    <td class="sum">
      <% sum = @transactions.sum { |transaction| transaction.value } %>
      <%= sum.to_s.insert(-3, ".").prepend("£") %>
    </td>
  </tfoot>
</table>
</div>
