<header>
  <h1>New Transaction</h1>
</header>

<form class="transaction-form shadow" action="/users/<%= @user.id %>/transactions" method="post">

  <label for="transaction-date">Date: </label>
  <input type="date" name="transaction_date" value="<%= Date.today %>" required>

  <label for="price">Amount: </label>
  <div class="price">
    <input type="number" name="pounds" min="0" class="pounds" required>.
    <input type="number" name="pence" min="0" max= "99" class="pence" required>
  </div>

  <label for="merchant-select">Merchant: </label>
  <select name="merchant_id" required>
    <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>

  <label for="category-select shadow">Category: </label>
  <select name="category_id" required>
    <% for category in @categories %>
    <option value="<%= category.id %>"><%= category.name.capitalize %></option>
    <% end %>
  </select>

  <label for="description">Description: </label>
  <textarea name="description" rows="4" cols="50"></textarea>

  <div class="savings-suggest">
    <input type="checkbox" name="save">
    <label for="savings-suggest">Add change to savings!</label>
  </div>

  <div class="transaction-submit flex-center-center">
    <input type="submit" class="transaction-from-submit" value="Add Transaction">
  </div>
</form>
