<header>
  <h1>Transaction Details</h1>
</header>

<div class="transaction-card shadow">
  <div class="transaction-details">
    <h2>Amount: </h2>
    <p><%= @transaction.pretty_value %></p>

    <h2>Date: </h2>
    <p><%= @transaction.pretty_date %></p>

    <h2>Description: </h2>
    <p><%= @transaction.description == "" ? "N/A" : @transaction.description %></p>

    <div class="transaction-show-buttons flex">

      <form action="/users/<%= @transaction.user_id %>/transactions/<%= @transaction.id %>/edit" method="get">
        <input type="submit" value="Edit" class="transaction-button edit">
      </form>

      <form action="/users/<%= @transaction.user_id %>/transactions/<%= @transaction.id %>/delete" method="post">
        <input type="submit" value="Delete" class="transaction-button delete">
      </form>
    </div>
  </div>

  <div class="transaction-header">

    <div class="logo-placeholder"></div>

    <a href="/users/<%= @transaction.user_id %>/categories/<%= @transaction.category.id %>">
      <div class="transaction-button category">
        <%= @transaction.category.name.capitalize %>
        <i class="fas fa-tag button-tag"></i></div>
    </a>

  </div>
</div>
