
<div class=show-container">
  <header>
    <h1><i class="fas fa-store header-tag"></i>&nbsp;  <%= @merchant.name %></h1>
  </header>
  <a href="./<%= @merchant.id %>/edit" class="small-button category-header-button"><i class="far fa-edit">&nbsp;</i>Edit</a>
  <div class="insight-box shadow">
    <ul>
      <li>You've spent <span class="insight"><%= @user.pretty_print(@budget.sum_merchant(@merchant)) %></span> in total at <%= @merchant.name %>.</li>
      <li>Your largest purchase was <span class="insight"><%= @user.pretty_print(@budget.merchant_largest(@merchant).value) %></span> on <span class="insight"><%= (@budget.merchant_largest(@merchant).transaction_date).strftime("%d/%m/%Y") %></span></li>
      <li><span class="insight"><%= @budget.merchant_percent(@merchant) %>%</span> of your spending has been with this merchant.</li>
    </ul>
  </div>

  <div class="table-container flex">
    <table>
      <tr>
        <th>Date</th>
        <th>Merchant</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
      <% for transaction in @transactions %>
      <% if transaction.merchant_id == @merchant.id %>
      <tr>
        <td><a href="../transactions/<%= transaction.id %>"><%= transaction.pretty_date %></a></td>
        <td><a href="../transactions/<%= transaction.id %>"><%= transaction.merchant.name %></a></td>
        <td><a href="../transactions/<%= transaction.id %>">
          <%= transaction.category.name.capitalize %>
          <i class="fas fa-tag index-tag">&nbsp;</i></a></td>
          <td><a href="../transactions/<%= transaction.id %>"><%= transaction.pretty_description %></a></td>
          <td class="amount"><a href="../transactions/<%= transaction.id %>"><%= @user.pretty_print(transaction.value) %></a></td>
        </tr>
        <% end %>
        <% end %>
        <tfoot>
          <td colspan="4" class="empty"></td>
          <td class="sum">
            <% sum = 0 %>
            <% for transaction in @transactions %>
            <% sum += transaction.value if transaction.merchant_id == @merchant.id %>
            <% end %>
            <%= sum.to_s.insert(-3, ".").prepend("£") %>
          </td>
        </tfoot>
      </table>
    </div>
  </div>
</div>
