<section id="profile">

  <div class="left flex-column">
    <div id="profile-header">
      <h1>Hello <%= @user.first_name %>!</h1>
    </div>

    <div id="budget-overview" class="flex-center-center shadow">
      <p>Budget bar here</p>
    </div>

    <a href="./<%=@user.id%>/transactions/new" id="profile-add-transaction" class="flex-center-center shadow">
      <i class="fas fa-plus-circle"></i>&nbsp;New transaction
    </a>

    <h2>Recent Transaction</h2>
    <% for transaction in @user.transactions.first(5) %>
    <a href="./<%= @user.id %>/transactions/<%= transaction.id %>">
      <div class="profile-transaction shadow">
        <div class="recent-transaction-date">
          <%= transaction.transaction_date %>
        </div>
        <%= transaction.pretty_value %> at <%= transaction.merchant.name %> on <%= transaction.category.name.capitalize %>
      </div>
    </a>
    <% end %>
  </div>


  <div class="right flex-column">

    <div class="card flex-center-center goal shadow">
      <h2>Goal</h2>
    </div>

    <div class="card flex-center-center advice shadow">
      <h2>Advice</h2>
    </div>

    <div class="card flex-center-center savings shadow">
      <h2>Savings</h2>
    </div>

  </div>



</section>
