<section id="profile">

  <div class="left flex-column">

    <div id="profile-header">
      <h1><%= @greetings.sample %> <%= @user.first_name %>!</h1>
    </div>

    <div class="time-date"><%= Time.now.strftime("%H:%M %p - %A, %d %B %Y") %> </div>

    <div class="budget-card shadow">
      <div id="budget-overview shadow" class="flex-center-center flex-column">
        <h2>Remaining Budget: <%= @user.pretty_remaining_budget %></h2>
        <div class="budget-bar shadow">
          <div class="budget-indicator <%= @budget.status %>">
            <p class="budget-status-text flex-center-center"><%= @budget.status_text %>
            </p>
          </div>
        </div>
      </div>

      <a href="./<%=@user.id%>/transactions/new" id="profile-add-transaction" class="flex-center-center shadow">
        <i class="fas fa-plus-circle"></i>&nbsp;New transaction
      </a>
    </div>
    <br>
    <h2>Recent Transactions</h2>
    <% for transaction in @user.transactions.first(6) %>
    <a href="./<%= @user.id %>/transactions/<%= transaction.id %>">
      <div class="profile-transaction shadow">
        <div class="recent-transaction-date">
          <%= transaction.pretty_date %>
        </div>
        <%= @user.pretty_print(transaction.value) %> at <%= transaction.merchant.name %> on <%= transaction.category.name %>
      </div>
    </a>
    <% end %>
  </div>

  <div class="right flex-column">

    <div class="flex-center-center goal">
      <h2>Your Goal</h2>
      <img src="/images/goal/<%= @advisor.img %>" alt="goal_image" class="goal-image shadow">
      <p class="user-goal">"<%= @user.goal %>"</p>
    </div>

    <div class="card advice shadow">
      <h2>Analytics</h2>
      <% if @user.transactions.count == 0 %>
      <p>We don't have enough data for this feature just yet </p>
      <% else %>
      <p>You have <%= @user.pretty_remaining_budget %> of your budget remaining. <span class="insight">That's <%= @budget.budget_advice %></span></p>
      <p><span class="insight"><%= @budget.biggest_category_name %></span> is your biggest expense - a total of <span class="insight"><%= @budget.biggest_category_sum %></span></p>

      <p>You've spent the most at <span class="insight"><%= @budget.biggest_merchant_name %></span>, a total of <span class="insight"><%= @budget.biggest_merchant_sum %></span></p>

      <% end %>
    </div>

    <div class="savings flex">
      <h2>Savings: </h2>
      <div class="savings-right shadow">
        <div class="saving-amount flex-center-center"><p><%= @budget.savings_amount %></p></div>
      </div>
    </div>

  </div>



</section>
