<div class="show-container">
  <header>
    <h1><i class="fas fa-tag header-tag">&nbsp;</i><%= @category.name %></h1>
  </header>
  <a href="./<%= @category.id %>/edit" class="small-button category-header-button"><i class="far fa-edit">&nbsp;</i>Edit</a>
  <div class="insight-box shadow">
    <ul>
      <li>You've spent <span class="insight"><%= @user.pretty_print(@budget.sum_category(@category)) %></span> in total on <%= @category.name.downcase %>.</li>
      <li>Your largest purchase was <span class="insight"><%= @user.pretty_print(@budget.category_largest(@category).value) %></span> on <span class="insight"><%= (@budget.category_largest(@category).transaction_date).strftime("%d/%m/%Y") %></span></li>
      <li><span class="insight"><%= @budget.category_percent(@category) %>%</span> of your spending has been in this category</li>
    </ul>
  </div>
</div>
</div>
<div class="table-container flex">
  <table>
    <tr>
      <th>Date</th>
      <th>Merchant</th>
      <th>Category</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <% for transaction in @transactions %>
    <% if transaction.category_id == @category.id %>
    <tr>
      <td><a href="../transactions/<%= transaction.id %>"><%= transaction.pretty_date %></a></td>
      <td><a href="../transactions/<%= transaction.id %>"><%= transaction.merchant.name %></a></td>
      <td><a href="../transactions/<%= transaction.id %>">
        <%= transaction.category.name %>
        <i class="fas fa-tag index-tag">&nbsp;</i></a></td>
        <td><a href="../transactions/<%= transaction.id %>"><%= transaction.pretty_description %></a></td>
        <td class="amount"><a href="../transactions/<%= transaction.id %>"><%= @user.pretty_print(transaction.value) %></a></td>
      </tr>
      <% end %>
      <% end %>
      <tfoot>
        <td colspan="4" class="empty"></td>
        <td class="sum">
          <% sum = 0 %>
          <% for transaction in @transactions %>
          <% sum += transaction.value if transaction.category_id == @category.id %>
          <% end %>
          <%= @user.pretty_print(sum) %>
        </td>
      </tfoot>
    </table>
  </div>
